* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  color: #000;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  height: 100vh;
  position: relative;
  background-image: /* linear-gradient (rgba(0, 0, 0, 0.6), rgba(34, 34, 34, 0.6)), */ url(pexels-george-dolgikh-1303085.jpg);
  background-size: cover;
  color: #f8f7ff;
}

nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.head-container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.head-container-inside {
  width: 50%;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.button:link,
.button:visited {
  font-size: 20px;
  font-weight: 600px;
  background-color: #ff4d6d;
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

section {
  padding: 96px 0;
  background-color: #f8f7ff;
}
